*.md linguist-detectable
*.yml linguist-detectable

# Define Linguist attributes for .zip and .hex files
*.zip linguist-vendored=true linguist-generated=false linguist-language=Binary filesize=100%
*.hex linguist-vendored=true linguist-generated=false linguist-language=Binary filesize=100%