*.md linguist-detectable
*.yml linguist-detectable

# Define Linguist attributes for .zip and .hex files
*.zip linguist-detectable=true
*.hex linguist-detectable=true
*.zip linguist-language=Assembly
*.hex linguist-language=Assembly