<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- You can set your favicon here -->
<link rel="apple-touch-icon" sizes="180x180" href="/firmware/assets/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/firmware/assets/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/firmware/assets/favicon-16x16.png">
<link rel="manifest" href="/firmware/assets/site.webmanifest">
<link rel="mask-icon" href="/firmware/assets/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/firmware/assets/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/firmware/assets/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QSQJ2QCY6L"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-QSQJ2QCY6L');
</script>

<!-- end custom head snippets -->