<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
	<meta name="viewport" content="width=device-width, initial-scale=0.8, user-scalable=yes">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <section>
        <div id="title">
          {{ site.link-title | markdownify }}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
		  <hr>
        </div>

        {{ content }}

		<div id="title">
		  <br/>
		  <hr>
		  <span class="credits left">Site maintained by <a href="https://bsky.app/profile/squidhomin.id">SquidHominid</a> for <a href="https://www.retrotink.com/">RetroTINK LLC</a></span>
		  <span class="credits right">Theme based on <a href="https://github.com/pages-themes/midnight">Midnight</a> by <a href="https://twitter.com/mattgraham">mattgraham</a></span>
		</div>

      </section>

    </div>
  </body>
</html>
